@import "../../../global";

.about {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 10px;
    text-align: center;
  }

  .container {
    height: 90%;
    width: 80%;
    scrollbar-width: thin;
    scrollbar-color: rgb(179, 177, 177) rgb(100, 100, 100) rgb(68, 68, 68);

    p {
      text-align: justify;
      //color: black;

      span {
        padding: 0 5px 0 5px;
        margin: 0 5px 0 5px;
        border-radius: 10px;
        background-color: navajowhite;

        //&:hover {
        //  background-color: $mainColor;
        //  color: white;
        //}
      }
    }

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(179, 177, 177);
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(100, 100, 100);
    }

    &::-webkit-scrollbar-thumb:active {
      background: rgb(68, 68, 68);
    }
  }
}

.MuiAccordionDetails-root {
  background-color: whitesmoke;
}

.MuiAccordionSummary-root.Mui-expanded {
  background-color: lightgrey;
}

.MuiAccordionSummary-root {
  p {
    color: $mainColor;
  }
}
