@import "../../../global";

.roadmap {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    color: white;
    height: 70px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    @include ipad {
      //display: none;
    }

    @keyframes left {
      0% {
        left: 100px;
      }
      50% {
        left: 90px;
      }
      100% {
        left: 100px;
      }
    }

    @-webkit-keyframes left {
      0% {
        left: 100px;
      }
      50% {
        left: 90px;
      }
      100% {
        left: 100px;
      }
    }

    @keyframes right {
      0% {
        right: 70px;
      }
      50% {
        right: 60px;
      }
      100% {
        right: 70px;
      }
    }

    @-webkit-keyframes right {
      0% {
        right: 70px;
      }
      50% {
        right: 60px;
      }
      100% {
        right: 70px;
      }
    }

    &.left {
      left: 70px;

      @include ipad {
        left: 35%;
        bottom: 10%;
      }

      @include kindle {
        left: 35%;
        bottom: 10%;
      }
    }

    &.left:hover {
      animation: left 2s infinite ease-in-out;
    }

    &.right {
      right: 70px;

      @include ipad {
        right: 35%;
        bottom: 10%;
      }

      @include kindle {
        right: 35%;
        bottom: 10%;
      }
    }

    &.right:hover {
      animation: right 2s infinite ease-in-out;
    }
  }

  .roadmapSlider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;

    @include mobile {
      height: 75vh;
      flex-direction: column;
      justify-content: center;
    }

    @include ipad {
      height: 50vh;
      justify-content: center;
    }

    @include kindle {
      height: 50vh;
      justify-content: center;
    }

    .container {
      padding: 10px 0 10px 0;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .item {
        border: 2px firebrick outset;
        width: 700px;
        height: 100%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 75%;
          height: 150px;
          margin: 10px 0;
        }

        @include ipad {
          width: 75%;
          height: 75%;
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include kindle {
          width: 75%;
          height: 75%;
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .left {
          flex: 4;
          height: 100%;

          @include mobile {
            display: none;
          }

          @include ipad {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          @include kindle {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .imgContainer {
            padding: 15px;
            margin: 35px 15px;
            border-radius: 25px;
            background-color: #f5f5f5;

            a {
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 75%;
                height: 75%;

                @include ipad {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                }
              }
            }
          }

          .imgContainer:hover {
            background-color: #FFE0E0;
            border: 3px firebrick groove;
          }
        }

        .right {
          color: $mainColor;
          flex: 8;
          height: 100%;

          @include mobile {
            flex: 14;
          }

          .itemTitle {
            margin: 30px;

            @include mobile {
              margin: 15px;
            }

            h3 {
              margin-bottom: 5px;
              font-size: 25px;

              @include mobile {
                font-size: 13px;
              }

              span {
                vertical-align: super;
                font-size: 12px;

                @include mobile {
                  font-size: 10px;
                }
              }
            }
          }

          .itemList {
            margin: 35px;

            @include mobile {
              margin: 5px;
            }

            ul {

              li {
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 5px;
                overflow: hidden;

                @include mobile {
                  font-size: 10px;
                  margin-bottom: 0;
                }

                span {
                  font-size: 20px;
                  font-weight: 0;
                  float: none;

                  @include mobile {
                    font-size: 10px;
                  }
                }

                span:hover {
                  font-weight: 700;
                  cursor: default;
                  border-radius: 10px;
                  background-color: white;
                }
              }
            }

            span {
              margin-top: 10px;
              float: right;
              padding: 5px;

              @include mobile {
                font-size: 10px;
                cursor: pointer;
                float: right;
              }
            }

            span:hover {
              font-weight: 700;
              cursor: pointer;
              border-radius: 10px;
              background-color: lightslategray;
            }
          }
        }
      }

      .item:hover {
        border: 3px firebrick outset;
        box-shadow: 5px 5px #821e1e;
      }
    }
  }

  .modalContainer {
    margin: 10px;
    padding: 10px;

    .markdownContainer {

      p {
        font-size: 14px;
        margin-bottom: 8px;
        text-align: justify;

        @include mobile {
          font-size: 10px;
          margin-bottom: 4px;
          text-align: justify;
        }
      }

      ul {
        font-size: 14px;
        list-style-type: disc;
        padding-right: 10px;
        list-style-position: inside;

        @include mobile {
          font-size: 10px;
          list-style-type: disc;
          padding-right: 2px;
          text-align: justify;
        }

        li {
          margin-bottom: 5px;
        }
      }
    }

    strong {
      background-color: lightgray;
      border-radius: 10px;
      padding: 0 5px 0 5px;
    }

    strong:hover {
      background-color: $mainColor;
      color: white;
    }
  }
}
