@import "../../../global";

.roadmap {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    color: white;
    height: 70px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    @include ipad {
      display: none;
    }

    @include kindle {
      display: none;
    }

    @keyframes left {
      0% {
        left: 100px;
      }
      50% {
        left: 90px;
      }
      100% {
        left: 100px;
      }
    }

    @-webkit-keyframes left {
      0% {
        left: 100px;
      }
      50% {
        left: 90px;
      }
      100% {
        left: 100px;
      }
    }

    @keyframes right {
      0% {
        right: 70px;
      }
      50% {
        right: 60px;
      }
      100% {
        right: 70px;
      }
    }

    @-webkit-keyframes right {
      0% {
        right: 70px;
      }
      50% {
        right: 60px;
      }
      100% {
        right: 70px;
      }
    }

    &.left {
      left: 70px;
    }

    &.left:hover {
      animation: left 2s infinite ease-in-out;
    }

    &.right {
      right: 70px;
    }

    &.right:hover {
      animation: right 2s infinite ease-in-out;
    }
  }

  .roadmapSlider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;

    @include mobile {
      height: 70vh;
      display: flex;
      justify-content: center;
    }

    @include ipad {
      height: 70vh;
      display: flex;
      justify-content: center;
    }

    @include kindle {
      height: 70vh;
      display: flex;
      justify-content: center;
    }

    .container {
      padding: 10px 0 10px 0;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .item {
        border: 2px firebrick outset;
        width: 700px;
        height: 100%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;

        @include mobile {
          flex-direction: column;
          width: 70%;
          height: 50vh;
          margin: 10px 10px;
        }

        @include ipad {
          flex-direction: column;
          width: 75%;
          height: 60vh;
          margin: 10px 10px;
        }

        @include kindle {
          flex-direction: column;
          width: 75%;
          height: 65vh;
          margin: 10px 10px;

        }

        .left {
          flex: 4;
          height: 100%;

          @include mobile {
            flex: 5;
            height: 100%;
            width: 80%;
            align-items: center;
            display: flex;
            justify-content: center;
            overflow-y: hidden;

          }

          @include ipad {
            flex: 5;
            height: 100%;
            width: 80%;
            align-items: center;
            display: flex;
            justify-content: center;
            overflow-y: hidden;
          }

          @include kindle {
            flex: 5;
            height: 100%;
            width: 75%;
            align-items: center;
            display: flex;
            justify-content: center;
            overflow-y: hidden;
          }

          .imgContainer {
            padding: 15px;
            margin: 35px 15px;
            border-radius: 25px;
            background-color: #f5f5f5;

            @include ipad {
              margin: 15px;
            }

            @include kindle {
              margin: 15px;
            }

            a {
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 75%;
                height: 75%;

                @include mobile {
                  overflow: hidden;
                }

                @include ipad {
                  width: 60%;
                  height: 60%;
                  overflow: hidden;
                }

                @include kindle {
                  width: 60%;
                  height: 60%;
                  overflow: hidden;
                }
              }
            }
          }

          .imgContainer:hover {
            background-color: #FFE0E0;
            border: 3px firebrick groove;
          }
        }

        .right {
          color: $mainColor;
          flex: 8;
          height: 100%;

          @include mobile {
            flex: 8;
            height: 100%;
          }

          @include ipad {
            flex: 8;
            height: 100%;
          }

          @include kindle {
            flex: 8;
            height: 100%;
          }

          .itemTitle {
            margin: 30px;

            @include mobile {
              margin: 20px;
            }

            @include ipad {
              margin: 20px;
            }

            @include kindle {
              margin: 20px;
            }

            h3 {
              margin-bottom: 5px;
              font-size: 25px;

              @include mobile {
                font-size: 14px;
              }

              @include ipad {
                text-align: center;
              }

              @include kindle {
                text-align: center;
              }

              span {
                vertical-align: super;
                font-size: 12px;
              }
            }
          }

          .itemList {
            margin: 35px;

            @include mobile {
              margin: 10px;
            }

            ul {

              li {
                font-weight: 400;
                font-size: 25px;
                margin-bottom: 5px;
                overflow: hidden;

                @include mobile {
                  font-size: 12px;
                  margin-bottom: 3px;
                }

                span {
                  font-size: 20px;
                  font-weight: 0;
                  float: none;

                  @include mobile {
                    font-size: 12px;
                  }
                }

                span:hover {
                  font-weight: 700;
                  cursor: default;
                  border-radius: 10px;
                  background-color: white;

                  @include mobile {
                    font-weight: 700;
                    cursor: default;
                  }
                }
              }
            }

            .extraDetails {
              margin-top: 10px;
              float: right;
              padding: 5px;

              @include mobile {
                font-size: 12px;
                padding: 5px;
                float: right;
                border-radius: 10px;
                background-color: lightslategray;
                cursor: pointer;
              }

              @include ipad {
                font-size: 20px;
                font-weight: 700;
                margin: 25px 5px 5px 5px;
                padding: 5px;
                float: right;
                border-radius: 10px;
                background-color: lightslategray;
                cursor: pointer;
              }

              @include kindle {
                font-size: 20px;
                font-weight: 700;
                margin: 45px 5px 5px 5px;
                padding: 5px;
                float: right;
                border-radius: 10px;
                background-color: lightslategray;
                cursor: pointer;
              }
            }

            .extraDetails:hover {
              font-weight: 700;
              cursor: pointer;
              border-radius: 10px;
              background-color: lightslategray;
            }
          }
        }
      }

      .swiper {
        display: none;

        @include mobile {
          display: flex;
          align-self: flex-end;

          padding: 0 10px 10px 10px;

          p {
            font-size: 8px;
            font-weight: 500;

            span {
              color: $mainColor;
              background-color: whitesmoke;
            }
          }
        }

        @include ipad {
          display: flex;
          align-self: flex-end;

          padding: 0 10px 10px 10px;

          p {
            font-size: 8px;
            font-weight: 500;

            span {
              color: $mainColor;
              background-color: whitesmoke;
            }
          }
        }

        @include kindle {
          display: flex;
          align-self: flex-end;

          padding: 0 10px 10px 10px;

          p {
            font-size: 8px;
            font-weight: 500;

            span {
              color: $mainColor;
              background-color: whitesmoke;
            }
          }
        }
      }
    }

    .item:hover {
      border: 3px firebrick outset;
      box-shadow: 5px 5px #821e1e;
    }
  }
}

.modalContainer {
  margin: 10px;
  padding: 10px;

  .markdownContainer {

    p {
      font-size: 14px;
      margin-bottom: 8px;
      text-align: justify;

      @include mobile {
        font-size: 10px;
        margin-bottom: 4px;
        text-align: justify;
      }

      @include ipad {
        font-size: 14px;
        margin-bottom: 4px;
        text-align: justify;
      }

      @include kindle {
        font-size: 16px;
        margin-bottom: 8px;
        text-align: justify;
      }
    }

    ul {
      font-size: 14px;
      list-style-type: disc;
      padding-right: 10px;
      list-style-position: inside;

      @include mobile {
        font-size: 10px;
        list-style-type: disc;
        padding-right: 2px;
        text-align: justify;
      }

      @include ipad {
        font-size: 14px;
        list-style-type: disc;
        padding-right: 2px;
        text-align: justify;
      }

      @include kindle {
        font-size: 16px;
        list-style-type: disc;
        padding-right: 2px;
        text-align: justify;
      }

      li {
        margin-bottom: 5px;

        @include ipad {
          margin-bottom: 10px;
        }

        @include kindle {
          margin-bottom: 10px;
        }
      }
    }
  }

  strong {
    background-color: lightgray;
    border-radius: 10px;
    padding: 0 5px 0 5px;
  }

  strong:hover {
    background-color: $mainColor;
    color: white;
  }
}
