@import "../../../global";

.contact {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .container {
    height: 400px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: all 1s ease;
    background-color: crimson;
    overflow: hidden;

    @include mobile {
      width: 100%;
      height: 70%;
    }

    @include ipad {
      width: 100%;
      height: 60%;
    }

    @include kindle {
      width: 100%;
      height: 60%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 4;
      padding: 10px;
      overflow: hidden;
      transition: all 1s ease;

      @include mobile {
        display: none;
      }

      img {
        width: 70%;
        height: 70%;
        border: 2px crimson solid;
        border-radius: 25px;

        @include ipad {
          width: 100%;
        }

        @include kindle {
          width: 100%;
        }
      }
    }

    .left:hover {
      transform: scale(1.1);
      transition: all 1s ease-in-out;
    }

    .right {
      flex: 8;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .formContainer {
        width: 80%;
        height: 70%;

        @include mobile {
          width: 75%;
        }

        @include ipad {
          width: 75%;
        }

        @include kindle {
          width: 75%;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          .googlePrivacy {
            width: 300px;
            padding: 10px;

            @include mobile {
              width: 250px;
            }

            p {
              color: $mainColor;
              font-size: 12px;

              span {
                a {
                  color: white;
                  text-decoration: none;
                  border-radius: 5px;
                  padding: 0 3px 0 3px;
                }

                a:hover {
                  background-color: $mainColor;
                  color: white;
                  cursor: pointer;
                }

                a:active {
                  background-color: $mainColor;
                  color: white;
                  cursor: pointer;
                }

                a:visited {
                  color: white;
                }
              }
            }
          }

          input[type = text],
          input[type = email]{
            width: 300px;
            height: 30px;
            font-size: 14px;
            margin-bottom: 10px;
            border-radius: 5px;
            outline: none;

            @include mobile {
              width: 250px;
            }
          }

          input[type = text]:focus,
          input[type = email]:focus,
          input[type = text]:hover,
          input[type = email]:hover{
            background-color: whitesmoke;
            color: black;
            outline: none;

          }

          textarea {
            width: 300px;
            height: 100px;
            font-size: 14px;
            resize: none;
            border-radius: 5px;
            margin-bottom: 10px;
            outline: none;

            @include mobile {
              width: 250px;
            }
          }

          textarea:hover,
          textarea:focus {
            background-color: whitesmoke;
            color: black;
            outline: none;
          }

          button {
            width: 200px;
            height: 30px;
            color: black;
            background-color: white;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:hover {
              color: white;
              background-color: $mainColor;
              border: none;
            }
          }
        }
      }
    }
  }
}