@import "../../../global";

.item {
  margin: 5px;
  border-radius: 15px;
  border: 2px black solid;

  .title {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: whitesmoke;
    transition: all 0.5s ease-out;
  }

  .title:hover {
    background-color: black;
    color: white;
  }

  .content {
    padding: 1rem;
    background-color: #FFE7E7;
    color: black;
    text-align: justify;
    transition: all 0.5s ease-out;
  }
}


